.toppage
  .toppage__header
    HEADER
  .toppage__contents
    .toppage__contents__toplogobox

    .toppage__contents__mainbox
      .toppage__contents__mainbox__left
        .toppage__contents__mainbox__left__box
          .toppage__contents__mainbox__left__box__menu
            .toppage__contents__mainbox__left__box__menu__help
              %h1 HELP
            .toppage__contents__mainbox__left__box__menu__nakami
              .toppage__contents__mainbox__left__box__menu__nakami__content
                %ul.toppage__contents__mainbox__left__box__menu__nakami__content__s
                  %li.toppage__contents__mainbox__left__box__menu__nakami__content__s__list
                    evouoveとは
                  %li.toppage__contents__mainbox__left__box__menu__nakami__content__s__list
                    商品内容
                  %li.toppage__contents__mainbox__left__box__menu__nakami__content__s__list
                    デザイン
                  %li.toppage__contents__mainbox__left__box__menu__nakami__content__s__list
                    会社概要
                  %li.toppage__contents__mainbox__left__box__menu__nakami__content__s__list
                    お問い合わせ
                .toppage__contents__mainbox__left__box__menu__nakami__content__intro
      .toppage__contents__mainbox__right
        .toppage__contents__mainbox__right__box
          .toppage__contents__mainbox__right__box__menu
          .toppage__contents__mainbox__right__box__contents


    .toppage__contents__footer