
@import "reset";

.toppage {
  height: 100vh;
  width: 100vw;
  &__header {
    height: 150px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__contents {
    height: calc(100% - 300px);
    width: 100%;
    margin-top: 30px;
    &__toplogobox {
      height: 220px;
      width: 100%;
      &__logo {
        height:220px;
        text-align:center;
        margin:5px 0 0 0;
        img{
          height:200px;
          width:900px;
          padding-top:10px;
        }
      }
    }
    &__mainbox {
      height: 100%;
      width: 100%;
      display: flex;
      margin-top: 5px;
      position: relative;
      &__left {
        height: 100%;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        &__box {
          height: 100%;
          width: 70%;
          background-color: gainsboro;
          position: relative;
          &__menu {
            height: 100%;
            width: 100%;
            position: relative;
            &__help {
              height: 50px;
              width: 100%;
              position: relative;
              font-size: 45px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 10px;
              background-color: gray;
              margin-bottom: 5px;
              color: honeydew;
            }
            &__nakami {
              height: 100%;
              width: 100%;
              position: relative;
              &__content {
                height: 1000px;
                width: 100%;
                display: block;
                justify-content: center;
                position: relative;
                overflow: scroll;
                &__s {
                  position: relative;
                  &__list {
                    display: block;
                    height: 30px;
                    width: 100%;
                    margin-top: 20px;
                    text-align: center;
                    vertical-align: middle;
                    padding-top: 15px;
                    background-color: turquoise;
                    a {
                      text-decoration: none;
                      color:black;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                  }
                }
                &__intro {
                  height: 100%;
                  width: 100%;
                  background-color: yellowgreen;
                }
              }
            }
          }
        }
      }
      &__right {
        height: 100%;
        width: calc(100% - 300px);
        background-color: navajowhite;
        display: flex;
        justify-content: center;
        align-items: center;
        &__box {
          height: 90%;
          width: 90%;
          background-color: olive;
          overflow: scroll;
          &__menu {
            height: 400px;
            width: 100%;
            background-color: royalblue;
          }
          &__contents {
            height: 900px;
            width: 100%;
            background-color: salmon;
          }
        }
      }
    }
    &__footer {
      height: 100px;
      width: 100%;
      background-color: navy;
    }
  }
}
// =======
// .toppage{
//   .logo{
//     background-color:rgb(187, 185, 185);
//     height:220px;
//     text-align:center;
//     margin:5px 0 0 0;
//     img{
//       height:200px;
//       width:900px;
//       padding-top:10px;
//     }
//   }

