.toppage{
  .logo{
    background-color:rgb(187, 185, 185);
    height:220px;
    text-align:center;
    margin:5px 0 0 0;
    img{
      height:200px;
      width:900px;
      padding-top:10px;
    }
  }
  .footer{
    background-color:rgb(56, 56, 56);
    height:100px;
    width:100%;
  }
}